:root {
  --clr-primary: slateblue;
  --clr-done: limegreen;
  --clr-todo: red;
  --clr-btn: red;
}

* {
  font: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  padding: 0 10rem;
}

.page-title {
  --text-shadow: var(--clr-primary) 0 0 2px;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: var(--text-shadow), var(--text-shadow), var(--text-shadow), var(--text-shadow), var(--text-shadow),
    var(--text-shadow), var(--text-shadow), var(--text-shadow);
}

.column-container {
  display: flex;
  gap: 10rem;
  padding-block-start: 2rem;
  max-width: 100rem;
  margin-inline: auto;
}

.column {
  flex-basis: 100%;
  position: relative;
}

.done {
  --clr-btn: limegreen;
}

.todo::before {
  content: "";
  position: absolute;
  inset: -1rem -2rem;
  z-index: -1;
  border-inline-end: 0.25rem solid;
  border-block-start: 0.25rem solid;
  border-image-source: radial-gradient(circle at top right, var(--clr-todo), transparent 50%);
  border-image-slice: 1;
}

.done::before {
  content: "";
  position: absolute;
  inset: -1rem -2rem;
  z-index: -1;
  border-inline-start: 0.25rem solid;
  border-block-end: 0.25rem solid;
  border-image-source: radial-gradient(circle at bottom left, var(--clr-done), transparent 50%);
  border-image-slice: 1;
}
